

$a-text-color: hsl(25, 81%, 48%);
$a-text-color-hover: hsl(25, 72%, 46%);
$color-white: hsl(24, 11%, 91%);
$color-black: hsl(0, 3%, 12%);
$color-box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
$color-background: hsl(23, 58%, 88%);
$color-heading: hsl(24, 47%, 26%);