@use '../abstracts/' as *;




a {
    color: $a-text-color;
}
p {
    color: $color-heading;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: $size-100;
    margin: 10px 20px;

}