@use '../abstracts/' as *;

nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: $size-200 $size-400;
        list-style: none;

    }

    a {
        color: $a-text-color;
        text-decoration: none;
        font-size: $size-400;
        font-weight: bold;
        padding: 0 20px;;
    }
    a:hover, a:focus {
        background-color: $a-text-color-hover;
        color: $color-white;
        text-decoration: underline;
        padding: $size-100 $size-200;
        border-radius: 6px;
    }
}