@use '../abstracts/' as *;

a {
    color: $a-text-color;
}
p {
    color: $color-black;
    line-height: 1.5;
    font-size: 1.125rem;
}

// bottom section

.section__home {
    display: flex;
    margin: 20px;
    align-items: center;
}

.section__img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: $size-200;

}
.main__nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
}
hr {
    width: 80%;
    margin: 0 auto;
    margin: 10px 0;
    box-shadow: $color-box-shadow;
}

.container {
    background-image: url(/img/beer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
.container__p {
    margin-bottom: 10px;
}

.container__input {
    font-size: inherit;
    width: 30%;
    padding: $size-50;
    margin-inline: $size-300;
}
.search_btn {
    margin-inline: $size-200;
    padding: $size-100 $size-400;
    background-color: $a-text-color;
    color: $color-white;
    border-radius: $size-100;
}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-box-shadow;
}
